<img src="<%= photo.get('url') %>">
<span class="badge"><%= photo.get('likes_count') %></span>

<button class="btn btn-danger btn-xs destroy">delete!</button>
<% if(photo.liked()) { %>
  <button class="btn btn-success btn-xs like">like!</button>
<% } else { %>
  <button class="btn btn-warning btn-xs unlike">unlike!</button>
<% } %>
